<ion-header class="header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""> </ion-back-button>
        </ion-buttons>
        <ion-title class="title"> {{ getParams.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="medication-details-container ion-padding">
    <div *ngIf="subMedicationDetails">
        <img src="./assets/images/tablets.png" height="35%;" width="100%" />
        <div *ngIf="subMedicationDetails.level_of_healthcare?.length > 0">
            <div class="key">Level of Healthcare:</div>
            <div class="value">{{ subMedicationDetails.level_of_healthcare }}</div>
        </div>
        <div *ngIf="subMedicationDetails.synonym?.length > 0">
            <div class="key">Synonyms:</div>
            <div class="value">{{ subMedicationDetails.synonym }}</div>
        </div>
        <div *ngIf="subMedicationDetails.doses_form_strength_text?.length > 0">
            <div class="key">Doses Form and Strength:</div>
            <div class="value">{{ subMedicationDetails.doses_form_strength_text }}</div>
        </div>
        <div *ngIf="subMedicationDetails.indications_text?.length > 0">
            <div class="key">Indications:</div>
            <div class="value">{{ subMedicationDetails.indications_text }}</div>
        </div>
        <div *ngIf="subMedicationDetails.supplied_text?.length > 0">
            <div class="key">Supplied:</div>
            <div class="value">{{ subMedicationDetails.supplied_text }}</div>
        </div>
        <div *ngIf="subMedicationDetails.dose_text?.length > 0">
            <div class="key">Dose:</div>
            <div class="value">{{ subMedicationDetails.dose_text }}</div>
        </div>
        <div *ngIf="subMedicationDetails.contraindications_text?.length > 0">
            <div class="key">Contraindications:</div>
            <div class="value">{{ subMedicationDetails.contraindications_text }}</div>
        </div>
        <div *ngIf="subMedicationDetails.precaution_text?.length > 0">
            <div class="key">Precaution:</div>
            <div class="value">{{ subMedicationDetails.precaution_text }}</div>
        </div>
        <div *ngIf="subMedicationDetails.adverse_effects_text?.length > 0">
            <div class="key">Adverse Effects:</div>
            <div class="value">{{ subMedicationDetails.adverse_effects_text }}</div>
        </div>
        <div *ngIf="subMedicationDetails.storage_text?.length > 0">
            <div class="key">Storage:</div>
            <div class="value">{{ subMedicationDetails.storage_text }}</div>
        </div>
    </div>
</ion-content>