.header {
    ion-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-img {
        height: 30px;
        vertical-align: middle;
        width: 30px;
        margin-right: 10px;
    }
}

.patient-subprb-container {
    --background: #f4f5f7;
    ion-list {
        background: unset;
    }
    .name {
        font-size: 14px;
        font-family: "Metropolis-Regular" !important;
        color: #808080;
        width: 100%;
        margin-left: 5px;
    }
    .next_arrow {
        float: right;
        height: 15px;
        width: 10px;
        margin-inline-start: 10px;
    }
    .dot {
        height: 8px;
        width: 8px;
        margin-inline-end: 10px;
    }
}
