.header {
    .close-img {
        border-radius: 0px 40px 40px 0px;
        height: 35px;
        width: 35px;
        padding: 9px 9px 9px 9px;
        background-color: #ffffff;
    }

    .search-block {
        margin-top: 8px;
    }

    .search-img {
        border-radius: 0px 40px 40px 0px;
        height: 35px;
        width: 35px;
        padding-top: 5px;
        background-color: #ffffff;
    }

    .search {
        border-radius: 40px 0px 0px 40px;
        height: 35px;
        width: 75%;
        background-color: #ffffff;
        padding-left: 10px;
        margin-left: 7px;
        font-family: "Metropolis-Regular";
        font-size: 13px;
        float: left;
        color: #808080;
    }

    .search::placeholder {
        color: #808080;
        font-size: 13px;
        font-family: "Metropolis-Regular" !important;
    }

    .segment-block {
        padding: 5px 0;
        background: #f4f5f7;

        .block {
            display: flex;
            overflow: hidden;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;

            .box {
                border-radius: 6px;
                display: inline-block;
                font-family: "Metropolis-Regular";
                font-size: 12px;
                margin: auto;
                padding: 8px 0;
                min-width: 90px;
                text-align: center;
                background: var(--ion-color-primary-contrast);
                color: var(--ion-color-primary);
            }

            .select-box {
                background: var(--ion-color-primary);
                color: var(--ion-color-primary-contrast);
            }
        }
    }
}

.patient-search-container {
    --background: #f4f5f7;
    .segment-details {
        ion-list {
            background: unset;
        }
        .item-img {
            height: 28px;
            width: 28px;
            margin-inline-end: 10px;
        }
        .name {
            font-size: 14px;
            font-family: "Metropolis-Regular" !important;
            color: #808080;
            width: 100%;
            margin-left: 5px;
        }
        .next_arrow {
            float: right;
            height: 15px;
            width: 10px;
            margin-inline-start: 10px;
        }
    }
}
