<ion-header class="header">
    <ion-toolbar>
        <div class="animate__animated animate__backInLeft search-block">
            <ion-input type="text" class="search" placeholder="Search Problem or Medication"
                (keyup)="onKey($event)" [(ngModel)]="searchText">
            </ion-input>
            <img src="./assets/images/search_icon.png" alt="" class="search-img" *ngIf="!showClose">
            <img src="./assets/images/close_text.svg" alt="" class="close-img" *ngIf="showClose"
                (click)="onClearClick()">
            <div class="clear-both"></div>
        </div>
    </ion-toolbar>
    <div class="segment-block">
        <div *ngIf="segmentData" class="block">
            <div *ngFor="let segment of segmentData" (click)="changeSegment(segment)"
            [ngClass]="segment.isSelected ? 'select-box box': 'box'">
                {{ segment.name }}
            </div>
        </div>
    </div>
</ion-header>

<ion-content class="patient-search-container">
    <div [ngSwitch]="selectSegment" class="segment-details">
        <div *ngSwitchCase="'problem'" ngSelected="selected">
            <ion-list *ngIf="problemsData">
                <ion-card class="animate__animated animate__backInLeft" *ngFor="let problem of problemsData">
                    <ion-item (click)="problemView(problem)" lines="none">
                        <img [src]="imageURL + problem.icon" class="item-img" slot="start">
                        <p class="name"> {{problem.title}}</p>
                        <img src="./assets/images/back_arrow.png" class="next_arrow" slot="end">
                    </ion-item>
                </ion-card>
            </ion-list>
        </div>
        <div *ngSwitchCase="'medication'">
            <ion-list *ngIf="medicationData">
                <ion-card class="animate__animated animate__backInLeft" *ngFor="let medication of medicationData">
                    <ion-item (click)="medicationView(medication)" lines="none">
                        <img [src]="imageURL + medication.icon" class="item-img" slot="start">
                        <p class="name"> {{medication.title}}</p>
                        <img src="./assets/images/back_arrow.png" class="next_arrow" slot="end">
                    </ion-item>
                </ion-card>
            </ion-list>
        </div>
    </div>
</ion-content>