.custom-tab {
    ion-tab-bar {
        background-color: var(--ion-color-primary);
    }

    ion-tab-button[aria-selected=true] {
        background-color: #0d4060;
    }

    ion-tab-button {
        background-color: #2e93ae;
        animation: bounceIn 0.7s;
        color: var(--ion-color-primary-contrast);
        font-family: 'Metropolis-SemiBold' !important;
    }

    .tab-img {
        width: 26px;
        height: 30px;
        padding: 2px;
    }
}
