<ion-tabs id="myTabs" #myTabs class="custom-tab">
    <ion-tab-bar slot="bottom" *ngIf="tabsData">
        <ion-tab-button [tab]="tab.tab" *ngFor="let tab of tabsData" (click)="tabChange(tab)">
            <img class="tab-img" [src]="tab.img" />
            <ion-label>{{ tab.name }}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>