<ion-header class="header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""> </ion-back-button>
        </ion-buttons>
        <ion-title class="title"> {{ getParams.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="probelm-details-container">
    <img src="./assets/images/diagnosis.png" height="35%;" width="100%" />
    <div class="discription" *ngIf="subProblemDetails" [innerHtml]="subProblemDetails.description"></div>
</ion-content>