.header {
    ion-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.probelm-details-container {
    --background: #f4f5f7;
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 16px;
    --padding-end: 16px;
    font-family: 'Metropolis-Regular';
}