<ion-header class="header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""> </ion-back-button>
        </ion-buttons>
        <ion-title class="title">
            <img [src]="imageURL + getParams.icon" class="header-img" alt="">
            {{ getParams.title }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="patient-submedi-container">
    <ion-list *ngIf="getSubMedicationsData">
        <ion-card class="animate__animated animate__backInLeft" *ngFor="let medication of getSubMedicationsData">
            <ion-item (click)="subMedicationView(medication)" lines="none">
                <img src="./assets/images/ellipse_select.png" alt="" class="dot" slot="start">
                <p class="name"> {{medication.title}}</p>
                <img src="./assets/images/back_arrow.png" class="next_arrow" slot="end">
            </ion-item>
        </ion-card>
    </ion-list>
</ion-content>