/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// header css
.header {
    ion-toolbar {
        --background: var(--ion-color-primary);
        --color: #ffffff;
        font-family: "Gramatika-Bold";
    }

    ion-back-button {
        color: #ffffff;
    }

    .ios {
        ion-title {
            padding-inline-start: 50px;
            padding-inline-end: 50px;
        }
    }

    .md {
        ion-title {
            padding-inline-start: 0px;
            padding-inline-end: 0px;
        }
    }

    .native-input.sc-ion-input-ios,
    .native-input.sc-ion-input-md {
        padding-left: 10px !important;
    }
}

.header-ios::after,
.header-md::after {
    background-image: unset;
}

.clear-both {
    clear: both;
}

.display-flex {
    display: flex;
}

.margin-auto {
    margin: auto;
}
